{% extends 'base.html' %}

{% block body %}


<section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
        <article class="card-body">
            <header class="mb-4">
                <h4 class="card-title">Sign-in</h4>
            </header>

            <form method="post">
                {% csrf_token %}
                <div class="grid gap-6 mb-6 md:grid-cols-1">
                    
                    <div >
                        <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">User name
                            address</label>
                        <input type="text" id="text" name="username"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="john.doe@company.com" required>
                    </div>
                    <div >
                        <label for="password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Password</label>
                        <input type="password" id="password" name="password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="•••••••••" required>
                    </div>
                    
                </div>
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign-in
                </button>
            </form>

        </article>
        <!-- card-body.// -->
    </div>
    <!-- card .// -->
    <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
    <br><br>
   
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
{% endblock %}